<!DOCTYPE html>
<html lang="ko" layout:decorate="~{usr/layout/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>상품 상세</title>
</head>
<body>
<main layout:fragment="main">
    <form th:action method="post">
        <table>
            <tr>
                <th>상품명</th>
                <td><input name="name" th:value="${product.name}"></td>
            </tr>
            <tr>
                <th>가격</th>
                <td><input name="price" type="text" th:value="${product.price}"></td>
            </tr>
            <tr>
                <th>옵션</th>
                <td><a class="btn btn-primary" th:href="@{|/manage/product/${productId}/option|}">옵션 관리</a></td>
            </tr>
            <tr>
                <th>공동구매 할인</th>
                <td><a class="btn btn-primary" th:href="@{|/manage/product/${productId}/discount|}">할인 관리</a></td>
            </tr>
        </table>
        <button class="btn">저장</button>
        <button type="reset" class="btn">취소</button>
    </form>

    <!--    공동구매 버튼-->
    <div class="flex justify-center mx-auto">
        <form method="post" th:action="@{|/groupBuy/make/${product.id}|}">
            <button class="btn btn-light border" href="/list" onclick="return confirm('공동구매를 생성하시겠습니까?')"
                    type="submit">
                총대되기
            </button>
        </form>
    </div>
</main>
</body>
</html>