<!DOCTYPE html>
<html lang="Ko" layout:decorate="~{usr/layout/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>상품 할인 등록</title>
</head>
<body>
<main layout:fragment="main">
    <script>
        function submitForm() {
            const headCounts = document.querySelectorAll("[name='headCount']");
            const salePrices = document.querySelectorAll("[name='salePrice']");
            const dtoList = [];

            for (let i = 0; i < headCounts.length; i++) {
                const headCountInput = headCounts[i];
                const salePriceInput = salePrices[i];
                const headCount = headCountInput.value
                const salePrice = salePriceInput.value;

                const dto = {headCount, salePrice};

                dtoList.push(dto);
            }

            const data = dtoList;

            const header = document.querySelector('meta[name="_csrf_header"]').content;
            const token = document.querySelector('meta[name="_csrf"]').content;

            fetch(window.location.href, {
                method: 'PUT',
                headers: {
                    [header]: token,
                    'Content-Type': 'application/json; charset=utf-8'
                },
                body: JSON.stringify(data)
            }).then((response) => {
                return response.json();
            }).then((responseData) => {
                if (typeof responseData === 'number') {
                    window.location.href = `/manage/product/${responseData}/detail`
                }
            }).catch((error) => {
                console.error(error);
            });
        }

        function deleteTableRow(event) {
            const row = event.target.closest('tr');
            if (row.rowIndex !== 0) {
                row.remove();
            }
        }

        function addDiscountRow() {
            const detailTable = document.getElementById('detailTable');

            const tableRow = document.createElement('tr');
            tableRow.className = 'discountInfo';

            const createInputCell = (name) => {
                const cell = document.createElement('td');
                const input = document.createElement('input');
                input.type = 'text';
                input.name = name;
                input.className = 'w-full px-2 py-1 mb-2 rounded input input-primary';
                cell.appendChild(input);
                return cell;
            };

            const headCountsTd = createInputCell('headCount');
            const salePricesTd = createInputCell('salePrice');

            const buttonTd = document.createElement('td');
            const deleteButton = document.createElement('button');
            deleteButton.innerHTML = 'X';
            deleteButton.className = 'btn px-2 py-0.5 text-red-500 font-bold';
            deleteButton.addEventListener('click', deleteTableRow);
            buttonTd.appendChild(deleteButton);

            tableRow.appendChild(headCountsTd);
            tableRow.appendChild(salePricesTd);
            tableRow.appendChild(buttonTd);

            detailTable.querySelector('tbody').appendChild(tableRow);
        }
    </script>
    <form onsubmit="submitForm(); return false;">
        <div class="flex-grow flex items-center justify-center">
            <div class="max-w-2xl bg-white p-6 rounded shadow">
                <div class="text-xl mb-4">공동구매 할인</div>
                <table id="detailTable" class="w-full">
                    <thead>
                    <tr>
                        <td>인원</td>
                        <td>할인가격</td>
                        <td>
                            <button class="btn" type="button" onclick="addDiscountRow()">+</button>
                        </td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="discountInfo" th:if="${product.productDiscounts.size() == 0}">
                        <td><input name="headCount" type="text"
                                   class="w-full px-2 py-1 mb-2 rounded input input-primary"></td>
                        <td><input name="salePrice" type="text"
                                   class="w-full px-2 py-1 mb-2 rounded input input-primary"></td>
                    </tr>
                    <tr class="discountInfo" th:each="discount, discountIdx : ${product.productDiscounts}">
                        <th:block th:if="${not discount.deleteStatus}">
                            <td><input name="headCount" type="text" th:value="${discount.getHeadCount()}"
                                       class="w-full px-2 py-1 mb-2 rounded input input-primary"></td>
                            <td><input name="salePrice" type="text" th:value="${discount.getSalePrice()}"
                                       class="w-full px-2 py-1 mb-2 rounded input input-primary"></td>
                            <td th:if="${discountIdx.index != 0}">
                                <button type="button" onclick="deleteTableRow.call(this, event)"
                                        class="btn px-2 py-0.5 text-red-500 font-bold">X
                                </button>
                            </td>
                        </th:block>
                    </tr>
                    </tbody>
                </table>
                <div class="mt-4 flex justify-end">
                    <button class="btn btn-primary mr-2">저장</button>
                    <a class="btn" th:href="|/manage/product/${productId}/detail|">취소</a>
                </div>
            </div>
        </div>
    </form>
</main>
</body>
</html>