<!DOCTYPE html>
<html lang="ko" layout:decorate="~{usr/layout/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>상품 상세 옵션</title>
</head>
<body>
<main layout:fragment="main">
    <script>
        function submitOptionForm() {
            if (confirm('상품 상세 옵션을 저장 하시겠습니까?')) {
                const optionDetails = Array.from(document.querySelectorAll('.optionNames [name^=optionName]'))
                    .map(e => e.value);

                const data = {
                    optionDetails: optionDetails
                };

                const header = document.querySelector('meta[name="_csrf_header"]').content;
                const token = document.querySelector('meta[name="_csrf"]').content;

                fetch(window.location.href, {
                    method: 'PUT',
                    headers: {
                        [header]: token,
                        'Content-Type': 'application/json; charset=utf-8'
                    },
                    body: JSON.stringify(data)
                }).then((response) => {
                    return response.json();
                }).then((responseData) => {
                    if (typeof responseData === 'number') {
                        window.location.href = `/manage/product/${responseData}/detail`
                    }
                }).catch((error) => {
                    console.error(error);
                });
            }
        }

        function addDetailOptionRow() {
            const details = document.querySelector('.options');
            let optCnt = document.querySelectorAll('.optionNames');

            if (confirm('상세 옵션을 추가하시겠습니까?')) {
                const div = document.createElement('div');
                div.className = 'optionNames';
                const input = document.createElement('input');
                input.name = `optionName[${optCnt}]`;
                input.id = `optionName[${optCnt}]`;
                input.type = 'text';
                div.appendChild(input);
                details.appendChild(div);
                optCnt++;
            }
        }
    </script>
    <form onsubmit="submitOptionForm(); return false;">
        <div class="options">
            <label>상세 옵션명</label>
            <button class="btn p-1" type="button" onclick="addDetailOptionRow()" value="+"></button>
            <div class="optionNames" th:each="option, optionIdx : ${options}">
                <input th:if="${options == null}" type="text" name="optionName[0]">
                <input th:name="'optionName[' + ${optionIdx.index} + ']'" type="text" th:value="${option.optionDetail}">
            </div>
        </div>
        <button class="btn">저장</button>
        <a class="btn" href="/product/list">상품 목록</a>
    </form>
</main>
</body>
</html>