<!DOCTYPE html>
<html lang="ko" layout:decorate="~{usr/layout/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>상품 상세 옵션</title>
</head>
<body>
<main layout:fragment="main">
    <script>
        function submitOptionForm(form) {
            if (confirm('상품 상세 옵션을 등록하시겠습니까?')) {
                form.submit();
            }
        }

        function addDetailOption(detailsId) {
            const details = document.getElementById(detailsId);
            let optCnt = details.childElementCount;
            if (confirm('상세 옵션을 추가하시겠습니까?')) {
                const newRow = document.createElement('td');
                newRow.style.setProperty('width', '150px');
                const input = document.createElement('input');
                input.name = detailsId;
                input.id = `${detailsId}_${optCnt}`;
                input.type = 'text';
                newRow.appendChild(input);
                details.appendChild(newRow);
                optCnt++;
            }
        }
    </script>
    <form th:action method="post" onsubmit="submitOptionForm(this); return false;">
        <table>
            <tr>
                <td>
                    <label for="optionOne">상품 옵션1 이름</label>
                </td>
                <td>
                    <input name="optionOneName" id="optionOne" type="text">
                </td>
                <td>
                    <input class="btn" type="button" onclick="addDetailOption('optionOneDetails')" value="+">
                </td>
            </tr>
            <tr id="optionOneDetails">
                <td>
                    <label>옵션1의 상세 옵션명</label>
                </td>
                <td>
                    <input name="optionOneDetails" id="optionOneDetail_1" type="text">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="optionTwo">상품 옵션2 이름</label>
                </td>
                <td>
                    <input name="optionTwoName" id="optionTwo" type="text">
                </td>
                <td>
                    <input class="btn" type="button" onclick="addDetailOption('optionTwoDetails')" value="+">
                </td>
            </tr>
            <tr id="optionTwoDetails">
                <td>
                    <label>옵션2의 상세 옵션명</label>
                </td>
                <td>
                    <input name="optionTwoDetails" id="optionTwoDetail_1" type="text">
                </td>
            </tr>
        </table>
        <button class="btn">등록</button>
        <a class="btn" href="/product/list">상품 목록</a>
    </form>
</main>
</body>
</html>