<!DOCTYPE html>
<html layout:decorate="~{usr/layout/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>상품 등록</title>
</head>
<body>

<main layout:fragment="main" class="flex-grow">
    <script type="text/javascript">
        function submitRegistrationForm(form) {
            if (confirm('등록하시겠습니까?')) {
                form.submit();
            }
        }
    </script>
    <form th:object="${productRegisterDTO}" th:action="@{/manage/product/registration}" method="post"
          onsubmit="submitRegistrationForm(this); return false;" enctype="multipart/form-data">
        <div class="flex-grow flex items-center justify-center">
            <div class="max-w-2xl bg-white p-6 rounded shadow">
                <div class="text-2xl font-bold mb-6">상품 등록</div>
                <div class="text-base mb-6">아래 양식을 작성하여 상품 등록을 진행해주세요.</div>

                <div class="mb-4">
                    <label for="name" class="text-sm font-medium">상품명</label>
                    <input class="w-full px-2 py-1 border rounded input input-bordered input-primary w-full" id="name" name="name" th:classappend="${#fields.hasErrors('name')}? 'form-control fieldError' : 'form-control'"
                           th:field="*{name}"
                           placeholder="제목을 입력해 주세요."
                           type="text">
                    <p style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                </div>

                <div class="mb-4">
                    <label for="price" class="text-sm font-medium">상품 기본 가격</label>
                    <input th:field="*{price}" name="price" id="price" type="number"
                           class="w-full px-2 py-1 border rounded input input-bordered input-primary w-full"
                           placeholder="기본 가격"
                           th:classappend="${#fields.hasErrors('price')}? 'form-control fieldError' : 'form-control'">
                    <p style="color:red" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></p>
                </div>

                <div class="mb-4">
                    <label for="description" class="text-sm font-medium">상품 설명</label>
                    <textarea th:field="*{description}" name="description" id="description" cols="20" rows="10"
                              class="w-full px-2 py-1 border rounded textarea textarea-primary w-full"
                              placeholder="상품 설명을 입력해 주세요."
                              th:classappend="${#fields.hasErrors('description')}? 'form-control fieldError' : 'form-control'"></textarea>
                    <p style="color:red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>
                </div>

                <div class="mb-4">
                    <label for="maxPurchaseNum" class="text-sm font-medium">상품 최대 구매 가능 개수</label>
                    <input th:field="*{maxPurchaseNum}" name="maxPurchaseNum" id="maxPurchaseNum" type="number"
                           class="w-full px-2 py-1 border rounded  input input-bordered input-primary w-full"
                           placeholder="10">
                </div>

                <div class="mb-4">
                    <label for="images" class="text-sm font-medium">상품 이미지 업로드</label>
                    <input accept="image/*" class="file-input file-input-bordered file-input-primary w-full max-w-xs" id="images" multiple name="images" th:field="*{images}"
                           type="file">
                </div>

                <div class="flex justify-end">
                    <button type="submit" class="btn btn-primary mr-2">등록</button>
                    <a class="btn" href="/product/list">상품 목록</a>
                </div>
            </div>
        </div>
    </form>
</main>
</body>
</html>