<!DOCTYPE html>
<html lang="ko" layout:decorate="~{usr/layout/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>상품 목록</title>
</head>
<body>
<main layout:fragment="main">
    <div>
        <div th:if="${products.isEmpty()}">상품 목록이 비어있습니다.</div>
        <table class="table">
            <thead class="table-header" th:if="${!products.isEmpty()}">상품 이름</thead>
            <tr th:each="product : ${products}">
                <td><a th:href="@{|details?productId=${product.id}|}" th:text="${product.getName()}"></a></td>
            </tr>
        </table>
        <a class="btn" href="/product/registration">상품 등록</a>
    </div>
</main>
</body>
</html>