<!DOCTYPE html>
<html layout:decorate="~{usr/layout/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>상품 등록</title>
</head>
<body>

<main layout:fragment="main">
    <script type="text/javascript">
        function submitRegistrationForm(form) {
            if (confirm('등록하시겠습니까?')) {
                form.submit();
            }
        }

        <!--TODO: 열 삭제 기능 추가하기-->
        function addInputRow() {
            if (confirm('인원별 할인율을 추가하시겠습니까?')) {
                const discountRow = document.getElementById("discountRow");
                const newTableRow = document.createElement('tr');
                let newTableData = document.createElement('td');
                const headCountInput = document.createElement('input');

                headCountInput.name = 'headCounts';
                headCountInput.type = 'text';
                const discountRateInput = document.createElement('input');
                discountRateInput.name = 'discountRates';
            }
        }
    </script>
    <form th:action method="post" onsubmit="submitRegistrationForm(this); return false;">
        <div>
            <div class="">상품 등록</div>
            <div class="">아래 양식을 작성하여 상품 등록을 진행해주세요.</div>
            <hr>
            <table class="flex flex-col">
                <tr>
                    <td>
                        <label for="name">상품명</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input name="name" id="name" type="text">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="price">상품 기본 가격</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input name="price" id="price" type="text">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="description">상품 설명</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <textarea name="description" id="description" cols="20" rows="10"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="maxPurchaseNum">상품 최대 구매 가능 개수</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input name="maxPurchaseNum" id="maxPurchaseNum" type="text">
                    </td>
                </tr>
            </table>
            <button class="btn">등록</button>
            <a class="btn" href="/product/list">상품 목록</a>
        </div>
    </form>
</main>
</body>
</html>