<!DOCTYPE html>
<html lang="ko" layout:decorate="~{usr/layout/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>상품 상세 옵션 주문</title>
    <script th:inline="javascript">
        const token = /*[[${_csrf.token}]]*/ '';
        const productId = /*[[${product.id}]]*/'';
    </script>
</head>
<body>
<main layout:fragment="main">
    <div class="container max-w-2xl mx-auto">
        <div class="form-container form-control border-0">
            <!-- 이미지 슬라이드 -->
            <div class="carousel w-full max-w-md mx-auto" th:if="${product.images.isEmpty()}">
                <img alt="이미지가 없습니다." class="h-full w-full object-cover"
                     src="/images/noImg.png">
            </div>
            <div class="carousel w-full max-w-md mx-auto" th:if="${!product.images.isEmpty()}">
                <div class="carousel-item w-full flex justify-center" th:each="image, idx : *{product.images}"
                     th:id="${'slide' + idx}">
                    <img class="w-full" th:src="${image}"/>
                </div>
            </div>

            <!--   번호 -->
            <div class="flex w-full gap-2 justify-center items-center">
                <div class="flex-col" th:each="image, i : *{product.images}">
                    <a class="btn btn-xs btn-primary a__move" th:href="${'#slide' + i}" th:text="${i.count}">index</a>
                </div>
            </div>
            <!-- 이미지 슬라이드 끝 -->

            <!-- 상품 정보 -->
            <div class="product flex flex-col">
                <span class="product-name" th:text="*{product.name}"></span>
                <div class="fs-5 has-text-black text-left">
                    <span th:text="${product.description}"></span>
                </div>
                <div class="discounts">
                    <ul>
                        <li th:each="discount : *{product.discounts}">
                            <p><span th:text="*{discount.headCount}"></span>명 모일 시</p>
                            <p><span th:text="*{discount.salePrice}"></span> 원 </p>
                        </li>
                    </ul>
                </div>
                <a class="store-info" th:href="@{|/store/${product.storeId}|}"
                   th:text="${'스토어 : '+product.storeName}"></a>
            </div>

            <!-- 나중에 리뷰 추가 -->

            <!-- 제품 구매하는 페이지로 이동하는 버튼 추가 -->

            <!-- 옵션 선택 (Options) -->
            <table class="options">
                <p class="text-2xl font-bold rounded py-2">✅ 옵션 선택</p>
                <tr class="flex flex-col justify-center items-center" th:each="option, optionIdx : ${product.options}">
                    <!-- 옵션1 표시(ex. 사이즈) -->
                    <button onclick="addToCartForm(this)"
                            th:option-id="${option.id}"
                            th:option-name="${option.optionDetail == null ? '기본' : option.optionDetail}"
                            class="btn btn-primary my-1 mx-auto justify-center justify-items-center"
                            th:text="|${option.optionDetail == null ? '기본' : option.optionDetail}|"/>
                </tr>
            </table>

            <!-- 내 선택 리스트(장바구니 기능으로 위에서 선택한 옵션들이 뜨고 구매할 개수 입력) -->
            <div class="rounded border border-primary">
                <p class="text-xl font-bold rounded mx-2 my-2">🛒 선택된 옵션</p>
                <ul class="my-choice mx-2 my-1" id="myChoice">

                </ul>
            </div>

            <button class="btn btn-primary my-2" onclick="addToCart()">상품 주문하기</button>

            <!-- 공동구매 버튼 -->
            <div class="flex justify-center">
                <form method="post" th:if="${canCreate eq true}" th:action="@{|/groupbuy/make/${product.id}|}">
                    <button class="btn btn-secondary btn-light border my-2" href="/list"
                            onclick="return confirm('총대가 되면 공동구매에 반드시 참여해야 합니다.\n 공동구매를 생성 하시겠습니까?')"
                            type="submit">
                        총대되기
                    </button>
                </form>
                <form method="post" th:if="${canCreate eq false}" th:action="@{|/groupbuy/make/${product.id}|}">
                    <button class="btn btn-secondary btn-light border my-2" href="/groupbuy/list">
                        공동구매 목록
                    </button>
                </form>
            </div>

        </div>
    </div>

    <script>
        const cartOptions = {};

        function addToCartForm(el) {
            const optionId = el.getAttribute('option-id');
            const optionDetail = el.getAttribute('option-name');

            if (cartOptions[optionId] === undefined) {
                cartOptions[optionId] = {
                    optionId: optionId,
                    optionDetail: optionDetail,
                    quantity: 1
                };
            } else {
                cartOptions[optionId].quantity++;
            }

            drawCartForm();
        }

        function removeOption(optionId) {
            delete cartOptions[optionId];

            drawCartForm();
        }

        function drawCartForm() {
            $('#myChoice').empty();

            for (const key in cartOptions) {
                const option = cartOptions[key];

                $('#myChoice').append(`
                    <li>
                        <span>${option.optionDetail}</span>
                        <span>${option.quantity}개</span>
                        <button onclick="removeOption(${option.optionId})">X</button>
                    </li>
                `);
            }
        }

        function addToCart() {
            if (Object.keys(cartOptions).length === 0) {
                alert('옵션을 선택해주세요.');
                return;
            }

            const header = document.querySelector('meta[name="_csrf_header"]').content;
            const token = document.querySelector('meta[name="_csrf"]').content;

            const carts = {choices: Object.values(cartOptions)};
            console.log(JSON.stringify(carts));

            fetch(`/order/create/${productId}`, {
                method: 'POST',
                headers: {
                    [header]: token,
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(carts)
            })
                .then(res => res.json())
                .then(res => {
                    if (res.msg) {
                        alert(res.msg);
                        location.href = `/order/detail/${res.data}`;
                    } else {
                        alert(res.msg);
                    }
                });
        }
    </script>
</main>
</body>
</html>
