<!DOCTYPE html>
<html lang="ko" layout:decorate="~{usr/layout/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>상품 검색</title>
</head>
<body>
<main layout:fragment="main">
    <script>
        function submitSearchForm(form) {
            if (form.keyword.value.trim().length === 0) {
                alert('검색어를 입력해주세요.');
                return;
            }
            form.submit();
        }
    </script>
    <form onsubmit="submitSearchForm(this); return false">
        <table>
            <tr>
                <td><label for="keyword">검색어</label></td>
                <td><input name="keyword" id="keyword" type="text" placeholder="상품명"></td>
                <td>
                    <button class="btn">search</button>
                </td>
            </tr>
        </table>
    </form>
    <div th:if="${products == null || products.isEmpty()}">검색 결과 없음</div>
    <div th:if="${!products.isEmpty()}">
        <div th:each="product : ${products}">
            <div th:text="${product.name}"></div>
        </div>
    </div>
</main>
</body>
</html>