<!DOCTYPE html>
<html lang="ko" layout:decorate="~{usr/layout/layout.html}">
<head>
    <meta charset="UTF-8">
    <title th:text="${@rq.getMember().getNickname() + '님의 공동구매 목록'}"></title>
</head>
<body>
<main layout:fragment="main">
    <div>
        <div class="p-4 grid grid-cols-1 gap-4">
            <h1 class="text-2xl font-bold mb-4">나의 공동구매 목록</h1>
            <div th:if="${groupBuyList.isEmpty()}">공동구매 목록이 비어있습니다.</div>

            <div th:each="groupBuy : ${groupBuyList}">
                <!-- 공동구매 목록 -->
                <a class="flex flex-col" th:href="@{|detail/${groupBuy.id}|}">
                    <div class="card card-side  bg-base-100 shadow-lg">

                        <!-- 이미지 -->
                        <figure class="flex flex-row w-36">
                            <img alt="이미지가 없습니다." class="h-full w-full object-cover"
                                 src="https://via.placeholder.com/150" th:if="${groupBuy.product.images.size() eq 0}"/>
                            <img alt="상품 이미지" class="h-full w-full object-cover"
                                 th:if="${groupBuy.product.images.size() ne 0}"
                                 th:src="${groupBuy.product.images.get(0).getURL()}"/>
                        </figure>

                        <div class="card-body">
                            <p class="text-black text-lg font-semibold" th:text="${groupBuy.name}"></p>
                            <p class="text-xs text-gray-500 text-right"
                               th:text="${groupBuy.currentMemberCount + ' 명 참여중'}"></p>
                            <p class="text-lg font-bold text-purple-500"
                               th:text="${groupBuy.nextMemberCount + '명 달성 시' + groupBuy.nextSalePrice + '원에 구매 가능!'}"></p>
                            <p class="text-sm text-gray-500" th:text="${'정상가 : ' + groupBuy.price}"></p>
                            <p class="text-base font-bold text-red-500"
                               th:text="${'현재 가격 : ' + groupBuy.currentSalePrice + '원'}"></p>
                            <p th:text="${'종료 시간 : ' + #temporals.format(groupBuy.endDate, 'MM-dd HH:mm')}"></p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</main>
</body>
</html>