<!DOCTYPE html>
<html lang="ko" layout:decorate="~{usr/layout/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>주문 상세</title>
</head>
<body>
<main layout:fragment="main">
    <table>
        <tr>
            <th>주문번호</th>
            <td>
                <div th:text="${orderId}"></div>
            </td>
        </tr>
        <tr>
            <th>주문상태</th>
            <td>
                <div th:text="${currentStatus}"></div>
            </td>
        </tr>
        <tr th:if="${order == null}">
            <th>주문 정보</th>
            <td>주문 정보가 존재하지 않습니다.</td>
        </tr>
        <tr th:if="${order!=null}">
            <th>주문명</th>
            <td>
                <span th:text="${order.name}"></span>
            </td>
            <th>스토어명</th>
            <td>
                <a th:href="@{|/product/detail/${order.storeId}|}">
                    <span th:text="${order.storeName}"></span>
                </a>
            </td>
            <th>상품명</th>
            <td>
                <a th:href="@{|/product/detail/${order.productId}|}">
                    <span th:text="${order.productName}"></span>
                </a>
            </td>
            <th>가격</th>
            <td>
                <div th:text="${order.price}"></div>
            </td>
            <th>적용된 할인 가격</th>
            <td>
                <div th:text="${order.salePrice}"></div>
            </td>
            <th>배송자명</th>
            <td th:text="${order.recipient}"></td>
            <th>주소</th>
            <td th:text="${order.mainAddress}"></td>
            <th>상세주소</th>
            <td th:text="${order.subAddress}"></td>
            <th>결제금액</th>
            <td th:text="${order.totalPrice}"></td>
        </tr>
    </table>
    <a th:href="@{|/order/list|}" th:text="목록으로"></a>

    <a th:href="@{|/order/choose/${orderId}|}" th:if="${currentStatus == T(com.ll.gong9ri.boundedContext.order.entity.OrderStatus).GROUP_BUY_CREATED}" th:text="옵션 선택">
    </a>

    <a th:href="@{|/order/confirm/${orderId}|}" th:if="${currentStatus == T(com.ll.gong9ri.boundedContext.order.entity.OrderStatus).CREATED}" th:text="결제">
    </a>
</main>
</body>
</html>